In [4]:
import pandas as pd

data = pd.read_csv("Salary_Data.csv")
#Jika ada kolom yang tipe datanya categorical (tulisan dsb / bukan angka) maka kolom tersebut 
#harus diconvert menjadi angka dengan metod encoder

#merubah semua kolom kategorical menjadi numerical
from sklearn.preprocessing import LabelEncoder
# Mendeteksi kolom kategori
categorical_cols = data.select_dtypes(include=['object']).columns

# Membuat objek LabelEncoder
label_encoders = {}

# Mengubah kolom kategori menjadi numerik
for col in categorical_cols:
    label_encoders[col] = LabelEncoder()
    data[col] = label_encoders[col].fit_transform(data[col])
#penegecekan kembali data setelah diconvert menjadi angka
data.head()

#sehingga menjadi misalnya
#gender : male = 1, female = 0

    Age  Gender  Education Level  Job Title  Years of Experience    Salary
0  32.0       1                0        177                  5.0   90000.0
1  28.0       0                3         18                  3.0   65000.0
2  45.0       1                5        145                 15.0  150000.0
3  36.0       0                0        116                  7.0   60000.0
4  52.0       1                3         26                 20.0  200000.0

In [ ]:
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression #Y= aX + B
from sklearn.metrics import mean_squared_error

In [23]:

In [22]: #bagi data menjadi variabel X dan Y
x = data.iloc[:, [0,1,2,3,4]].values
y = data.iloc[:, [5]].values
In [25]: from sklearn.model_selection import train_test_split
from sklearn.linear_model import Linear Regression #Y= ax + B
from sklearn.metrics import mean_squared_error #menghitung error yang didapatkan dari model ML ((Ysebenarnya^2-Yprediksi^2)/banyc
In [32]: # Split data into train and test sets
X_train, X_test, y_train, y_test = train_test_split(x, y, test_size=0.25, random_state=42) #80% dijadikan data training, 20% test #Instantiate the model
model = Linear Regression()
# Train the model
model.fit(X_train, y_train)
# Make predictions
y_pred = model.predict(X_test) #prediksi nilai temperatur
#Evaluate the model
mse = mean_squared_error(y_test, y_pred)
print("Mean Squared Error:", mse)
Mean Squared Error: 904902593.3579634
In [37]: prediksi = model.predict([[32,1,0,177,4]]) #predict one array only
print("hasil prediksi salary", (round(prediksi[0][0]),2))
hasil prediksi salary (76536, 2)

SyntaxError: invalid syntax (423421999.py, line 5)